name: Build and Upload

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          check-latest: true
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run chmod to make gradlew executable
        run: chmod +x ./gradlew
      - name: Run Gradle Build for Core
        run: ./gradlew core:build
      - name: Run Gradle Build for Plugin
        run: ./gradlew build
      - name: Upload Plugin
        uses: actions/upload-artifact@v6
        with:
          name: ArmaOraxen
          path: build/libs/*.jar